<div class="page_header">
  <h2>Task List ({{filteredList.length}}) </h2>
  <button class="btn btn-primary" [routerLink]="'/dashboard'" color="primary">Back</button>
</div>
<!-- Button trigger modal -->
<div class="filter_add_task_wrapper">
  <select class="form-select" (change)="onStatusChange()" [(ngModel)]="status" aria-label="Default select example">
    <option value="all">All</option>
    <option value="false">Not Completed</option>
    <option value="true">Completed</option>
  </select>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTaskModal">
    Add Task
  </button>
</div>
  
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Completed Column -->
    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element" [ngClass]="element.completed ? 'text-success':'text-danger'"> {{element.completed ? 'Completed':'Not Completed'}} </td>
    </ng-container>

   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>


  <!-- Modal -->
  <div class="modal fade" id="addTaskModal" #addTaskModal tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addTaskModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                  <input type="text" [(ngModel)]="title" class="form-control" >
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="resetForm()" #closeModal class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button [disabled]="!title" type="button" (click)="addTask()" class="btn btn-primary">Add Task</button>
        </div>
      </div>
    </div>
  </div>